<div class="col-md-6">
  <div id="card-calendar" class="card card-plain ">
    <div class="card-header ">
      <h4 class="card-title">Calendar</h4>
    </div> <!--card-header-->
    <div class="card-body ">
    <%= render '/simple-calendar/calendar' %>
    </div>
  </div>
</div>
