<ul class="nav">
  <li>
    <a href="/">
      <p><i class="fa fa-cube"></i> Dashboard</p>
    </a>
  </li>

  <li>
    <a href="/clients">
      <p><i class="fa fa-user"></i> Clients</p>
    </a>
  </li>
  <li>
    <a href="/invoices">
      <p><i class="fa fa-money"></i> Invoices</p>
    </a>
  </li>

   <li>
    <a href="/projects">
      <p><i class="fa fa-tasks"></i> Projects</p>
    </a>
  </li>

  <li>
    <a href="/schedules">
      <p><i class="fa fa-calendar"></i> Schedule</p>
    </a>
  </li>
  <li>
    <a data-toggle="collapse" href="#pagesExamples" class="collapsed" aria-expanded="false">
     <p>Pages <i class="fa fa-caret-down"></i></p>
    </a>
    <div class="collapse" id="pagesExamples" style="">
      <ul class="nav">
        
        <li>
            <a href="/">
                <span class="sidebar-mini-icon">P</span>
                <span class="sidebar-normal"> Pricing </span>
            </a>
        </li>
        
        <li>
            <a href="/">
                <span class="sidebar-mini-icon">RS</span>
                <span class="sidebar-normal"> RTL Support </span>
            </a>
        </li>
      
      </ul>
    </div>
  </li>
</ul>