<div class="main-sidebar" data-color="orange"> 
      <div class="sidebar-wrapper">
      <ul class="nav">
          <li class="active ">
          <p><a href="/instructors/<%= @instructor.id %>">Profile
          </a></p>
          </li>
          <li>
          <p><a href="/instructors/<%=@instructor.id %>/edit">Edit
          </a></p>
          </li>
          <li>
            <p><a href="/instructors/new">Create
            </a></p>
          </li>
          
        </ul>
      </div>
    </div>