<div class="avatar-wrapper text-center p-4 pl-4">
      <%= image_tag (current_user.avatar), :class => ("thumb_sm") %>
      <p class="text-white">Hi, <%= current_user.first_name %></p>
      <%= link_to("Edit Profile", edit_user_registration_path(current_user), :class => 'action view text-white') %>
      </div>