<div class="row m-0">
	<div class="col-md-12">
  <h3>New Client</h3>
	<%= render 'clients/partials/form' %>
		<%= link_to clients_path(@clients), :class => "fa fa-arrow-left" do %>
			<span class="back">	Back</span>
		<% end %>
	</div>
</div>



