<div class="row m-0">
<%= render 'clients/partials/client' %>
<div class="col-md-8">
<%= link_to clients_path(@clients), :class => "fa fa-arrow-left" do %>
	<span class="back">	Back</span>
<% end %>
	
		
		
</div>

</div>
