<div class="row m-0">
<%= render 'projects/partials/project' %>
<div class="col-md-8">
<%= link_to projects_path(@projects), :class => "fa fa-arrow-left" do %>
	<span class="back">	Back</span>
<% end %>
	
		
		
</div>

</div>
