// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_project{
  .form-control {
    color: #fff;
    border: none;
    background: #2f3242;
    border-radius: 0;
    padding: 1em .8em;
}
  .title{
    padding: 0;
  }
}