body {
  background-color: #2f3242;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.53486;
  position: relative;
  letter-spacing: .5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #fff;
}
a{
  cursor: pointer;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
ul{
  -webkit-padding-start: 10px;
  li {
    list-style: none;
  }
}
 
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

}

form{
  width: 100%;
}
label {
  display: block;
    font-size: 14px;
    color: #757da4;
    font-style: italic;
}

.main-panel {
  
    .panel-header-lg {
      height: 380px;
    }
    .panel-header-sm {
      height: 135px;
      background-color: #2b2d3d;
  }
}

.photo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  float: left;
  z-index: 5;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 23px;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
}

.thumb_sm{
  width: 34px;
  height: 34px;
}

.highlight{
  background: #3a3e52;
}

.back{
  font-family: Lato,FontAwesome, sans-serif;
}
@media (min-width: 768px){
  .main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    background-color: #2b2d3c;
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
    height: 100vh;
  }
}