
@media (min-width: 768px){
    .wrapper{
        position: relative;
        top: 0;
        height: 100vh;
    }
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
    a {
        color: #fff;
      
        &:visited {
          color: #2481ce;
        }
      
        &:hover {
          color: #2481ce;
        }
      }
    .logo {
        position: relative;
        padding: .5rem .7rem;
        z-index: 4;
    }
    .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 30px;
        padding-top: 8em;
    }
    .nav {
        margin-top: 20px;
        display: block;
        li{
            
            > a{
                margin: 10px 15px 0;
                border-radius: 30px;
                color: #757da4;
                display: block;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                padding: 10px 8px;
                line-height: 1.625rem;
              &:hover,
              &:focus{
                 background-color: rgba(206, 168, 138, 0.1);
                  outline: none;
              }
              
              
            }

            .dropdown-menu {
                background-color: rgba(206, 168, 138, 0.1);
            }
            
            & .dropdown-menu a:hover,
            & .dropdown-menu a:focus,
            &.active > [data-toggle="collapse"]{
                background-color:  #2196f3;
                color: #fff;
                box-shadow: none;
            }
            
            &.active > [data-toggle="collapse"]{
                i{
                    color: #a9afbb;
                }
            }

            &.active {
             a
            {
                background-color: transparent;
                color: #fff;
                box-shadow: none;
            }
            i{
                color: #fff;
            }
        }
            &.separator{
                margin: 15px 0;

                &:after{
                    width: calc(100% - 30px);
                    content: "";
                    position: absolute;
                    height: 1px;
                    left: 15px;
                    background-color: rgba(180,180,180, .3);
                }

                & + li {
                    margin-top: 31px;
                }
            }
        }
    }
    .navbar{
        margin-top: 20px;
        display: block;
        text-align: center;
        .navbar-brand {
            margin-bottom: 20px;
        }
        .nav-item{
            padding: 20px 0;
        }
        i {
            font-size: 24px;
            margin-right: 15px;
            line-height: 25px;
            width: 30px;
            text-align: center;
            color: #a9afbb;
        }
        p {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            display: inline-block;
        }
        

        
        
    }
    .nav li a,
    .nav li .dropdown-menu a{
          margin: 10px 15px 0;
          padding-left: 10px;
          padding-right: 10px;
          text-transform: capitalize;
          padding: 10px 15px;
    }
        .user,
        .logo,
        .nav li.separator{
            &:after{
                background-color: rgba(255,255,255, .3);
            }
        }

        .nav{
            li:hover:not(.active) > a,
            li.active > [data-toggle="collapse"]{
                background-color: transparent;
            }
        }
}
.navbar-collapse{
    border-top: 0;
    padding: 20px 0;
}
.off-canvas-sidebar .navbar-collapse{
    .nav {
        > li > a,
        > li > a:hover{
            color: #fff;
            margin: 0 15px;
        }

        > li > a:focus,
        > li > a:hover{
            background: rgba(200, 200, 200, 0.2);
        }
    }
}
}

@media (min-width: 991px){
.main-panel, .sidebar, .sidebar-wrapper {
    transition-property: top,bottom,width;
    transition-duration: .2s,.2s,.35s;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}
}