// Place all the styles related to the task_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-title{
  font-size: 22px;
}

.complete a{
  color: #4caf50;
}

.trash a{
  color: #f84343;
}
#new_task_item{
  .form-control {
    border-radius: 0;
    background: rgba(64, 67, 89, 0.37);
    border: none;
    color: #fff;
}
  .btn-primary{
    padding: 10px 50px;
  }

}
